In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
rootDir = 'L:/DATA/Alouette_I/BATCH_II_Run2/'
resultDir = rootDir + '05_result/'

In [21]:
df_master = pd.read_csv(resultDir + 'result_master.csv')
print(len(df_master))
df_master.head()

216380

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,Station_Name,Lat,Lng
0,R014207944,2010-5B,278.png,num,1.713710,1407.547170,1962-10-04 21:52:50,1.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W
1,R014207961,1031-A,191.png,dot,1.568548,1320.408163,1962-10-07 00:00:00,3.0,1.0,RES,"Resolute Bay, NT, Canada",74.7N,95W
2,R014207961,1031-A,17.png,dot,1.608871,1461.224490,1962-10-07 00:00:00,3.0,1.0,RES,"Resolute Bay, NT, Canada",74.7N,95W
3,R014207961,1084-A,9.png,dot,1.556452,1467.346939,1962-10-07 00:00:00,4.0,11.0,SNP,Singapore,1.3N,103.8E
4,R014207944,2003-3A,46.png,dot,1.625000,1968.750000,1962-10-07 00:00:00,3.0,19.0,ULA,"University of Alaska, Fairbanks, AK, USA",65N,147.5W

#

In [25]:
df1 = df_master.copy(deep=True)
df1['Timestamp'] = pd.to_datetime(df1['Timestamp'])
df1['Timestamp_by_day'] = df1['Timestamp'].dt.round('D')
df1.head()

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,Station_Name,Lat,Lng,Timestamp_by_day
0,R014207944,2010-5B,278.png,num,1.713710,1407.547170,1962-10-04 21:52:50,1.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W,1962-10-05
1,R014207961,1031-A,191.png,dot,1.568548,1320.408163,1962-10-07 00:00:00,3.0,1.0,RES,"Resolute Bay, NT, Canada",74.7N,95W,1962-10-07
2,R014207961,1031-A,17.png,dot,1.608871,1461.224490,1962-10-07 00:00:00,3.0,1.0,RES,"Resolute Bay, NT, Canada",74.7N,95W,1962-10-07
3,R014207961,1084-A,9.png,dot,1.556452,1467.346939,1962-10-07 00:00:00,4.0,11.0,SNP,Singapore,1.3N,103.8E,1962-10-07
4,R014207944,2003-3A,46.png,dot,1.625000,1968.750000,1962-10-07 00:00:00,3.0,19.0,ULA,"University of Alaska, Fairbanks, AK, USA",65N,147.5W,1962-10-07

In [26]:
### To make sure that we have data on all dates:
#   create a new index, based on the old range, but daily frequency
idx = pd.date_range(df1['Timestamp_by_day'].min(), df1['Timestamp_by_day'].max(), freq="s")
df1 = df1.reindex(idx, fill_value=np.nan)

In [28]:
df1.head()

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,Station_Name,Lat,Lng,Timestamp_by_day
1962-10-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1962-10-05 00:00:01,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1962-10-05 00:00:02,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1962-10-05 00:00:03,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1962-10-05 00:00:04,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [ ]:
### Create masks for 
#   invalid data: has no date, or no temperature
#   valid data: has both date and temperature
valid_mask=( (df1['Timestamp'].notnull()) & (df1['Tmax(C)'].notnull()))
na_mask=( (df1['Date(NZST)'].isnull()) & (df1['Tmax(C)'].isnull()))