# Image Inventory

#### Updated: Aug 17, 2023

#

Produce Image Inventory for a batch of Alouette I data:

In [1]:
import pandas as pd
import os

In [2]:
dataDir = '' #The file path to the scanned images, organized into Directories and Subdirectories.  
rootDir = '' #The file path to the root directory for your project
logDir = rootDir + '06_log/'

#

#### Produce image_inventory:

In [3]:
df_inventory = pd.DataFrame()
for directory in os.listdir(dataDir):
    print(directory)
    for subdirectory in os.listdir(dataDir + directory):
        n_images = len(os.listdir(dataDir + directory + '/' + subdirectory))
        df_inventory_ = pd.DataFrame({
            'Directory': directory, 
            'Subdirectory': subdirectory,
            'images': n_images,
            'subdir_id': directory + '_' + subdirectory
        }, index=[0])
        df_inventory = pd.concat([df_inventory, df_inventory_], axis=0, ignore_index=True)

R014207815
R014207816
R014207821
R014207823
R014207824
R014207832
R014207840
R014207841
R014207842
R014207844
R014207907F
R014207908F
R014207909F
R014207929F
R014207930F
R014207938
R014207939
R014207940F
R014207942
R014207943
R014207946
R014207947
R014207948
R014207949
R014207951
R014207953
R014207954
R014207955
R014207956
R014207957
R014207958
R014207959
R014207960
R014207962
R014207964
R014207965
R014207966
R014207967
R014207968
R014207970
R014207974
R014207975
R014207978F
R014207979F
R014207980

In [4]:
print(len(df_inventory))
df_inventory.head()

2638

    Directory Subdirectory  images            subdir_id
0  R014207815     3488-15A     273  R014207815_3488-15A
1  R014207815     3489-15A     281  R014207815_3489-15A
2  R014207815     3490-15A     198  R014207815_3490-15A
3  R014207815      3491-8A     289   R014207815_3491-8A
4  R014207815      3492-8A     334   R014207815_3492-8A

Remove data associated with Alouette II (FOR BATCH II):

In [5]:
directory_remove = 'R015954001'
subdirs_remove = ['B1-8-B', 'B1-34-2', 'B1-34-2', 'B2-8-B', 'B3-15-B', 'B4-15-B', 'B5-50-B', 'B6-50-B', 'B7-50-B', 
                  'B8-50-B', 'B010-5-B', 'B011-37-B', 'B012-16-B', 'B013-53-B', 'B014-3-B', 'B015-14-B', 'B016-21-B',
                  'B018-50-B', 'B019-50-B', 'B020-50-B', 'B021-50-B', 'B022-50-B', 'B023-8-3', 'B024-8-B', 'B025-B-15', 
                  'B026-21', 'B027-38-B']

In [6]:
df_inv2 = df_inventory.copy(deep=True)
for subdir_remove in subdirs_remove:
    df_inv2 = df_inv2.loc[df_inv2.subdir_id != directory_remove + '_' + subdir_remove]

In [7]:
print(len(df_inv2))
df_inv2.head()

2638

    Directory Subdirectory  images            subdir_id
0  R014207815     3488-15A     273  R014207815_3488-15A
1  R014207815     3489-15A     281  R014207815_3489-15A
2  R014207815     3490-15A     198  R014207815_3490-15A
3  R014207815      3491-8A     289   R014207815_3491-8A
4  R014207815      3492-8A     334   R014207815_3492-8A

Save:

In [8]:
df_inv2.to_csv(logDir + 'image_inventory.csv', index=False)

Analyze:

In [9]:
print('There are ' + str(len(df_inv2)) + ' subdirectories.')

df1 = pd.DataFrame()
for directory in df_inv2['Directory'].unique():
    df_directory = df_inv2.loc[df_inv2['Directory'] == directory] 
    df1_ = pd.DataFrame({
        'Directory': directory,
        'n_subdirs': len(df_directory)
    }, index=[0])
    df1 = pd.concat([df1, df1_], ignore_index=True)
mean = df1['n_subdirs'].mean()
std_dev = df1['n_subdirs'].std()
print('There are on average ' + str(round(mean,0)) + ' +/- ' + str(round(std_dev,0)) + ' subdirectories in each directory.')

mean = df_inv2['images'].mean()
std_dev = df_inv2['images'].std()
print('There are on average ' + str(round(mean,0)) + ' +/- ' + str(round(std_dev,0)) + ' images in each subdirectory.')

There are 2638 subdirectories.
There are on average 59.0 +/- 6.0 subdirectories in each directory.
There are on average 336.0 +/- 55.0 images in each subdirectory.