# Prepare result_master for Alouette Microapplication

#### Updated: Aug 8, 2023

#

Shape processed image results data to fit current Alouette microapplication (https://donnees-data.asc-csa.gc.ca:8888/alouette/):

In [5]:
import pandas as pd

In [1]:
dataDir = 'L:/DATA/Alouette_I/Total/05_result/'

#

#### Functions:

In [2]:
def fix_Lat(x):
    
    if type(x) == str:
        if 'S' in x:
            x = x.replace('S', '')
            x = float(x)
            x = -1*x
        elif 'N' in x:
            x = x.replace('N', '')

    return x

In [3]:
def fix_Lng(x):
    
    if type(x) == str:
        if 'W' in x:
            x = x.replace('W', '')
            x = float(x)
            x = -1*x
        elif 'E' in x:
            x = x.replace('E', '')

    return x

#

#### Shape results to fit microapplication data model:

In [6]:
df_result = pd.read_csv(dataDir + 'result_master.csv')
print(len(df_result))
df_result.head()

717392

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,Station_Name,Lat,Lng
0,R014207978F,361,Image0088.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W
1,R014207978F,361,Image0094.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W
2,R014207978F,361,Image0076.png,dot,1.520161,1448.837209,1962-09-29 00:00:00,4.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W
3,R014207978F,361,Image0072.png,dot,1.520161,1332.558140,1962-09-29 00:00:00,4.0,3.0,OTT,"Ottawa, Canada",45.4N,75.7W
4,R014207978F,361,Image0059.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,"College, Fairbanks, AK, USA",64.9N,147.8W

In [7]:
df_result['ID'] = df_result.index
df_result['File name'] = df_result['Directory'].astype(str) + '/' + df_result['Subdirectory'].astype(str) + '/' + df_result['filename'].str.replace('.png', '')
df_result['Minimum frequency'] = df_result['fmin']
df_result['Maximum depth'] = df_result['max_depth']
df_result['Subdirectory name'] = df_result['Subdirectory']
df_result['Satellite number'] = 1
df_result['Ground station number'] = df_result['Station_Number']
df_result['Ground station name'] = df_result['Station_Name']
df_result['Ground station code'] = df_result['Station_Code']
df_result['Latitude'] = df_result['Lat']
df_result['Longitude'] = df_result['Lng']

<ipython-input-7-157406a5ba21>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_result['File name'] = df_result['Directory'].astype(str) + '/' + df_result['Subdirectory'].astype(str) + '/' + df_result['filename'].str.replace('.png', '')

In [8]:
print(len(df_result))
df_result.head()

717392

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,...,File name,Minimum frequency,Maximum depth,Subdirectory name,Satellite number,Ground station number,Ground station name,Ground station code,Latitude,Longitude
0,R014207978F,361,Image0088.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0088,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9N,147.8W
1,R014207978F,361,Image0094.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0094,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9N,147.8W
2,R014207978F,361,Image0076.png,dot,1.520161,1448.837209,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0076,1.520161,1448.837209,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9N,147.8W
3,R014207978F,361,Image0072.png,dot,1.520161,1332.558140,1962-09-29 00:00:00,4.0,3.0,OTT,...,R014207978F/361/Image0072,1.520161,1332.558140,361,1,3.0,"Ottawa, Canada",OTT,45.4N,75.7W
4,R014207978F,361,Image0059.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0059,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9N,147.8W

Adjust Lat, Lng:

In [9]:
df_result['Latitude'] = df_result['Latitude'].fillna('')
df_result['Latitude'] = df_result['Latitude'].apply(lambda x: fix_Lat(x))

In [10]:
df_result['Longitude'] = df_result['Longitude'].fillna('')
df_result['Longitude'] = df_result['Longitude'].apply(lambda x: fix_Lng(x))

In [11]:
print(len(df_result))
df_result.head()

717392

,Directory,Subdirectory,filename,processed_image_class,fmin,max_depth,Timestamp,time_quality,Station_Number,Station_Code,...,File name,Minimum frequency,Maximum depth,Subdirectory name,Satellite number,Ground station number,Ground station name,Ground station code,Latitude,Longitude
0,R014207978F,361,Image0088.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0088,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9,-147.8
1,R014207978F,361,Image0094.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0094,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9,-147.8
2,R014207978F,361,Image0076.png,dot,1.520161,1448.837209,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0076,1.520161,1448.837209,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9,-147.8
3,R014207978F,361,Image0072.png,dot,1.520161,1332.558140,1962-09-29 00:00:00,4.0,3.0,OTT,...,R014207978F/361/Image0072,1.520161,1332.558140,361,1,3.0,"Ottawa, Canada",OTT,45.4,-75.7
4,R014207978F,361,Image0059.png,dot,1.520161,1390.697674,1962-09-29 00:00:00,4.0,5.0,COL,...,R014207978F/361/Image0059,1.520161,1390.697674,361,1,5.0,"College, Fairbanks, AK, USA",COL,64.9,-147.8

Save:

In [12]:
df_result2 = df_result[['ID', 'File name', 'Minimum frequency', 'Maximum depth', 
                        'Subdirectory name', 'Satellite number', 'Ground station number', 
                        'Timestamp', 'Ground station name', 'Ground station code', 'Latitude', 
                        'Longitude']]
print(len(df_result2))
df_result2.head()

717392

,ID,File name,Minimum frequency,Maximum depth,Subdirectory name,Satellite number,Ground station number,Timestamp,Ground station name,Ground station code,Latitude,Longitude
0,0,R014207978F/361/Image0088,1.520161,1390.697674,361,1,5.0,1962-09-29 00:00:00,"College, Fairbanks, AK, USA",COL,64.9,-147.8
1,1,R014207978F/361/Image0094,1.520161,1390.697674,361,1,5.0,1962-09-29 00:00:00,"College, Fairbanks, AK, USA",COL,64.9,-147.8
2,2,R014207978F/361/Image0076,1.520161,1448.837209,361,1,5.0,1962-09-29 00:00:00,"College, Fairbanks, AK, USA",COL,64.9,-147.8
3,3,R014207978F/361/Image0072,1.520161,1332.558140,361,1,3.0,1962-09-29 00:00:00,"Ottawa, Canada",OTT,45.4,-75.7
4,4,R014207978F/361/Image0059,1.520161,1390.697674,361,1,5.0,1962-09-29 00:00:00,"College, Fairbanks, AK, USA",COL,64.9,-147.8

In [13]:
df_result2.to_csv(dataDir + 'result_microapp.csv', index=False)