# OCR Read 'num2' Metadata

#### Updated: Apr 17, 2023

#

Test post-processing a subdirectory, to first detect if the image is of 'num2' metadata type, and then to read and record "that metadata.

In [1]:
import pandas as pd
import numpy as np
import os
from random import randrange
import time
import keras_ocr

In [2]:
rootDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/'
processedDir = rootDir + '04_processed/'
resultDir = rootDir + '05_result/'

In [3]:
pipeline = keras_ocr.pipeline.Pipeline()

Looking for C:\Users\rnaidoo\.keras-ocr\craft_mlt_25k.h5
Looking for C:\Users\rnaidoo\.keras-ocr\crnn_kurapan.h5

#

#### Functions:

In [4]:
def read_num2_metadata(prediction_groups, subdir_path):
    
    df_read = pd.DataFrame()
    for i in range(0, len(prediction_groups)):
        df_ocr = pd.DataFrame()
        predicted_image = prediction_groups[i]
        if len(predicted_image) > 0:
            for text, box in predicted_image:
                row = pd.DataFrame({
                    'number': text,
                    'x': box[1][0],
                    'y': box[1][1]
                }, index=[0])
                df_ocr = pd.concat([df_ocr, row])
            df_ocr = df_ocr.sort_values('x').reset_index(drop=True)
        if len(df_ocr) == 6:
            if df_ocr['number'].iloc[0] == '10':
                row2 = pd.DataFrame({
                    'station_number_OCR': df_ocr['number'].iloc[1],
                    'year_OCR': df_ocr['number'].iloc[2],
                    'day_of_year_OCR': df_ocr['number'].iloc[3],
                    'hour_OCR': df_ocr['number'].iloc[4][0:2],
                    'minute_OCR': df_ocr['number'].iloc[4][2:],
                    'second_OCR': df_ocr['number'].iloc[5],
                    'filename': img_fns[batch_i + i].replace(subdir_path, '')
                }, index=[i])
                df_read = pd.concat([df_read, row2])
    
    return df_read

#

#### Process subdirectory:

In [5]:
#Draw random subdirectory
directory_list = os.listdir(processedDir)
directory = directory_list[randrange(len(directory_list))]
subdirectory_list = os.listdir(processedDir + directory + '/')
subdirectory = subdirectory_list[randrange(len(subdirectory_list))]
print(directory + '/' + subdirectory + '/')

R014207819/4793-15/

In [6]:
testDir = processedDir + directory + '/' + subdirectory + '/'

In [7]:
batch_size = 2 #9 # > 9 seems to lead to a 'dead kernel'

In [8]:
img_fns = []
for file in os.listdir(testDir):
    img_fns.append(testDir + file)
len(img_fns)

233

In [9]:
n_batches = int(np.floor(len(img_fns)/batch_size))
n_batches

116

In [10]:
batch_remainder = len(img_fns)%batch_size
batch_remainder

1

In [11]:
start = time.time()

df_read = pd.DataFrame()
for i in range(0, n_batches):
    print('Starting batch... ' + str(i))
    batch_i = i*batch_size
    batch_f = batch_i + batch_size
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
    df_read = pd.concat([df_read, df_read_])
    
#Remainder
print('Finishing up...')
batch_i = n_batches*batch_size
batch_f = batch_i + batch_remainder
prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
df_read = pd.concat([df_read, df_read_])
     
end = time.time()
t = end - start
print('Time to OCR read all images in subdirectory: ' + str(round(t/60, 1)) + ' min')

Starting batch... 0
1/1 [==============================] - 4s 4s/step
1/1 [==============================] - 2s 2s/step
Starting batch... 1
1/1 [==============================] - 6s 6s/step
1/1 [==============================] - 0s 170ms/step
Starting batch... 2
1/1 [==============================] - 6s 6s/step
1/1 [==============================] - 0s 143ms/step
Starting batch... 3
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 210ms/step
Starting batch... 4
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 227ms/step
Starting batch... 5
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 6
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 230ms/step
Starting batch... 7
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 199ms/step
Starting batch... 8
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 217ms/step
Starting batch... 9
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 216ms/step
Starting batch... 10
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 230ms/step
Starting batch... 11
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 222ms/step
Starting batch... 12
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 228ms/step
Starting batch... 13
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 14
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 224ms/step
Starting batch... 15
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 219ms/step
Starting batch... 16
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 213ms/step
Starting batch... 17
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 236ms/step
Starting batch... 18
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 225ms/step
Starting batch... 19
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 205ms/step
Starting batch... 20
1/1 [==============================] - 7s 7s/step
1/1 [==============================] - 0s 177ms/step
Starting batch... 21
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 214ms/step
Starting batch... 22
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 196ms/step
Starting batch... 23
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 194ms/step
Starting batch... 24
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 232ms/step
Starting batch... 25
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 214ms/step
Starting batch... 26
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 211ms/step
Starting batch... 27
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 222ms/step
Starting batch... 28
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 227ms/step
Starting batch... 29
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 213ms/step
Starting batch... 30
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 207ms/step
Starting batch... 31
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 214ms/step
Starting batch... 32
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 236ms/step
Starting batch... 33
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 213ms/step
Starting batch... 34
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 222ms/step
Starting batch... 35
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 227ms/step
Starting batch... 36
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 224ms/step
Starting batch... 37
1/1 [==============================] - 5s 5s/step
1/1 [==============================] - 0s 219ms/step
Starting batch... 38
1/1 [==============================] - 6s 6s/step
1/1 [==============================] - 0s 157ms/step
Starting batch... 39
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 184ms/step
Starting batch... 40
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 200ms/step
Starting batch... 41
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 180ms/step
Starting batch... 42
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 43
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 171ms/step
Starting batch... 44
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 244ms/step
Starting batch... 45
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 225ms/step
Starting batch... 46
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 218ms/step
Starting batch... 47
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 238ms/step
Starting batch... 48
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 204ms/step
Starting batch... 49
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 200ms/step
Starting batch... 50
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 222ms/step
Starting batch... 51
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 204ms/step
Starting batch... 52
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 270ms/step
Starting batch... 53
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 198ms/step
Starting batch... 54
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 55
1/1 [==============================] - 4s 4s/step
1/1 [==============================] - 0s 183ms/step
Starting batch... 56
1/1 [==============================] - 4s 4s/step
1/1 [==============================] - 0s 204ms/step
Starting batch... 57
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 164ms/step
Starting batch... 58
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 233ms/step
Starting batch... 59
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 215ms/step
Starting batch... 60
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 196ms/step
Starting batch... 61
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 192ms/step
Starting batch... 62
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 234ms/step
Starting batch... 63
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 196ms/step
Starting batch... 64
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 233ms/step
Starting batch... 65
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 219ms/step
Starting batch... 66

1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 232ms/step
Starting batch... 67
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 201ms/step
Starting batch... 68
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 226ms/step
Starting batch... 69
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 231ms/step
Starting batch... 70
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 225ms/step
Starting batch... 71
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 249ms/step
Starting batch... 72
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 228ms/step
Starting batch... 73
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 211ms/step
Starting batch... 74
1/1 [==============================] - 5s 5s/step
1/1 [==============================] - 0s 157ms/step
Starting batch... 75
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 197ms/step
Starting batch... 76
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 232ms/step
Starting batch... 77
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 206ms/step
Starting batch... 78
1/1 [==============================] - 4s 4s/step
1/1 [==============================] - 0s 162ms/step
Starting batch... 79
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 260ms/step
Starting batch... 80
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 246ms/step
Starting batch... 81
1/1 [==============================] - 5s 5s/step
1/1 [==============================] - 0s 148ms/step
Starting batch... 82
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 218ms/step
Starting batch... 83
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 222ms/step
Starting batch... 84
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 216ms/step
Starting batch... 85
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 213ms/step
Starting batch... 86
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 218ms/step
Starting batch... 87
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 220ms/step
Starting batch... 88
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 89
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 218ms/step
Starting batch... 90
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 245ms/step
Starting batch... 91
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 280ms/step
Starting batch... 92
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 239ms/step
Starting batch... 93
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 242ms/step
Starting batch... 94
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 251ms/step
Starting batch... 95
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 246ms/step
Starting batch... 96
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 212ms/step
Starting batch... 97
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 213ms/step
Starting batch... 98
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 227ms/step
Starting batch... 99
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 152ms/step
Starting batch... 100
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 226ms/step
Starting batch... 101
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 228ms/step
Starting batch... 102
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 236ms/step
Starting batch... 103
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 225ms/step
Starting batch... 104
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 248ms/step
Starting batch... 105
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 232ms/step
Starting batch... 106
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 229ms/step
Starting batch... 107
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 239ms/step
Starting batch... 108
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 226ms/step
Starting batch... 109
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 233ms/step
Starting batch... 110
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 232ms/step
Starting batch... 111
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 234ms/step
Starting batch... 112
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 210ms/step
Starting batch... 113
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 224ms/step
Starting batch... 114
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 219ms/step
Starting batch... 115
1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 224ms/step
Finishing up...
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 0s 146ms/step
Time to OCR read all images in subdirectory: 7.3 min

In [12]:
print(len(df_read))
df_read.head(30)

85

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
1,15,69,206,06,42,57,10.png
0,15,69,223,50,2,06,100.png
1,15,69,229,16,59,29,103.png
0,15,69,229,16,59,46,104.png
1,15,69,229,17,0o,oa,105.png
0,15,69,220,1t,o0,21,106.png
0,15,69,229,dt,oo,56,108.png
1,15,69,229,17,01,11,109.png
0,15,60,206,06,43,14,11.png
1,15,69,229,17,01,31,110.png
1,15,69,229,17,02,06,112.png
0,15,69,229,17,02,23,113.png
0,15,69,229,17,02,58,115.png
1,15,69,229,17,03,16,116.png
1,15,69,229,17,03,50,118.png
0,15,69,229,iz,oa,os,119.png
1,15,69,206,06,43,31,12.png
0,15,619,229,17,04,25,120.png
1,15,69,229,17,04,43,121.png
0,15,69,229,17,05,oo,122.png
0,15,69,229,17,05,35,124.png
1,15,69,229,17,05,52,125.png
0,15,s9,229,1t,06,10,126.png
0,15,69,229,17,06,45,128.png
1,15,69,229,17,07,o2,129.png
1,15,69,229,17,07,20,130.png
0,15,69,229,17,07,37,131.png
1,15,69,229,17,07,55,132.png
0,15,69,229,17,os,12,133.png
0,15,69,246,15,10,56,137.png

Remove rows with letters read:

In [13]:
if len(df_read) > 0:
    df_read2 = df_read[~df_read['station_number_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['year_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['day_of_year_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['hour_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['minute_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['second_OCR'].str.contains("[a-zA-Z]")]
else:
    df_read2 = df_read

In [14]:
print(len(df_read2))
df_read2.head()

49

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
1,15,69,206,06,42,57,10.png
0,15,69,223,50,2,06,100.png
1,15,69,229,16,59,29,103.png
0,15,69,229,16,59,46,104.png
1,15,69,229,17,01,11,109.png

In [15]:
df_read2 = df_read2.sort_values('filename').reset_index(drop=True)

In [16]:
print('Percent OCR read yield for test subdirectory: ' + str(round((len(df_read2)/len(img_fns))*100, 1)) + ' %')

Percent OCR read yield for test subdirectory: 21.0 %

#

#### Integrate OCR read metadata into existing results data for subdirectory:

In [17]:
df_result = pd.read_csv(resultDir + directory + '/' + 'result-' + directory + '_' + subdirectory + '.csv')
print(len(df_result))
df_result.head()

233

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,second_1,second_2,station_number_1,station_number_2,processed_image_class,func_name,details,Roll,Subdirectory,filename
0,1.500000,673.913043,0.0,3.0,1.0,2.0,0.0,1.0,2.0,1.0,...,2.0,1.0,1.0,1.0,num,NaN,NaN,R014207819,4793-15,10.png
1,1.500000,673.913043,1.0,4.0,1.0,4.0,1.0,1.0,2.0,1.0,...,3.0,3.0,1.0,1.0,num,NaN,NaN,R014207819,4793-15,100.png
2,4.235849,1000.000000,2.0,3.0,1.0,1.0,1.0,2.0,2.0,0.0,...,2.0,1.0,1.0,1.0,num,NaN,NaN,R014207819,4793-15,103.png
3,4.122642,1489.130435,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,1.0,3.0,0.0,num,NaN,NaN,R014207819,4793-15,104.png
4,4.207547,1489.130435,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,...,3.0,1.0,2.0,2.0,num,NaN,NaN,R014207819,4793-15,105.png

In [18]:
df_result.columns

Index(['fmin', 'max_depth', 'satellite_number', 'year', 'day_1', 'day_2',
       'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1',
       'second_2', 'station_number_1', 'station_number_2',
       'processed_image_class', 'func_name', 'details', 'Roll', 'Subdirectory',
       'filename'],
      dtype='object')

In [19]:
print(len(df_read2))
df_read2.head()

49

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
0,15,69,206,06,42,57,10.png
1,15,69,223,50,2,06,100.png
2,15,69,229,16,59,29,103.png
3,15,69,229,16,59,46,104.png
4,15,69,229,17,01,11,109.png

In [20]:
if len(df_result) > 0:
    if len(df_read2) > 0:
        df_read2['day_of_year_OCR'] = df_read2['day_of_year_OCR'].astype('int')
        df_merge = df_result.merge(df_read2, how='left', on='filename')
        df_merge.loc[df_merge['day_of_year_OCR'] > 0, 'processed_image_class'] = 'num2'
    else:
        df_merge = df_result
else:
    df_merge = df_result
    
print(len(df_merge))
df_merge.sample(10)

233

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,details,Roll,Subdirectory,filename,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR
201,1.500000,1108.695652,1.0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,...,NaN,R014207819,4793-15,88.png,NaN,NaN,NaN,NaN,NaN,NaN
25,4.150943,1163.043478,1.0,1.0,0.0,2.0,0.0,1.0,3.0,0.0,...,NaN,R014207819,4793-15,124.png,15,69,229.0,17,05,35
15,1.548387,1271.739130,1.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,...,NaN,R014207819,4793-15,115.png,15,69,229.0,17,02,58
121,1.500000,1000.000000,2.0,3.0,3.0,1.0,4.0,1.0,2.0,3.0,...,NaN,R014207819,4793-15,218.png,NaN,NaN,NaN,NaN,NaN,NaN
192,1.500000,1108.695652,2.0,2.0,0.0,3.0,0.0,2.0,2.0,2.0,...,NaN,R014207819,4793-15,8.png,NaN,NaN,NaN,NaN,NaN,NaN
79,1.500000,1000.000000,1.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0,...,NaN,R014207819,4793-15,178.png,NaN,NaN,NaN,NaN,NaN,NaN
87,1.500000,1000.000000,3.0,3.0,2.0,2.0,3.0,2.0,3.0,2.0,...,NaN,R014207819,4793-15,185.png,NaN,NaN,NaN,NaN,NaN,NaN
6,4.898148,1489.130435,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,...,NaN,R014207819,4793-15,107.png,NaN,NaN,NaN,NaN,NaN,NaN
133,1.500000,1047.826087,1.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0,...,NaN,R014207819,4793-15,229.png,NaN,NaN,NaN,NaN,NaN,NaN
91,1.500000,1000.000000,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,...,NaN,R014207819,4793-15,189.png,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_merge.to_csv(resultDir + directory + '/' + 'result_OCRpass-' + directory + '_' + subdirectory + '.csv', index=False)