# OCR Read 'num2' Metadata

#### Updated: Apr 4, 2023

#

Test post-processing a subdirectory, to first detect if the image is of 'num2' metadata type, and then to read and record "that metadata.

In [1]:
import pandas as pd
import numpy as np
import os
import time
import keras_ocr

In [2]:
pipeline = keras_ocr.pipeline.Pipeline()

Looking for C:\Users\rnaidoo\.keras-ocr\craft_mlt_25k.h5
Looking for C:\Users\rnaidoo\.keras-ocr\crnn_kurapan.h5

In [3]:
rootDir = 'L:/DATA/Alouette_I/BATCH_II_Run1/'
resultDir = rootDir + '05_result/'

#

#### Functions:

In [4]:
def read_num2_metadata(prediction_groups, subdir_path):
    
    df_read = pd.DataFrame()
    for i in range(0, len(prediction_groups)):
        df_ocr = pd.DataFrame()
        predicted_image = prediction_groups[i]
        if len(predicted_image) > 0:
            for text, box in predicted_image:
                row = pd.DataFrame({
                    'number': text,
                    'x': box[1][0],
                    'y': box[1][1]
                }, index=[0])
                df_ocr = pd.concat([df_ocr, row])
            df_ocr = df_ocr.sort_values('x').reset_index(drop=True)
        if len(df_ocr) == 6:
            if df_ocr['number'].iloc[0] == '10':
                row2 = pd.DataFrame({
                    'station_number_OCR': df_ocr['number'].iloc[1],
                    'year_OCR': df_ocr['number'].iloc[2],
                    'day_of_year_OCR': df_ocr['number'].iloc[3],
                    'hour_OCR': df_ocr['number'].iloc[4][0:2],
                    'minute_OCR': df_ocr['number'].iloc[4][2:],
                    'second_OCR': df_ocr['number'].iloc[5],
                    'filename': img_fns[batch_i + i].replace(subdir_path, '')
                }, index=[i])
                df_read = pd.concat([df_read, row2])
    
    return df_read

#

#### Process subdirectory:

In [5]:
directory = 'R014207817' #'R014207950'
subdirectory = '4163-03A' #'2487-5-B'
testDir = rootDir + '04_processed/' + directory + '/' + subdirectory + '/'

In [6]:
batch_size = 9 # > 9 seems to lead to a 'dead kernel'

In [7]:
img_fns = []
for file in os.listdir(testDir):
    img_fns.append(testDir + file)

In [8]:
len(img_fns)

304

In [9]:
n_batches = int(np.floor(len(img_fns)/batch_size))
n_batches

33

In [10]:
batch_remainder = len(img_fns)%batch_size
batch_remainder

7

In [11]:
start = time.time()

df_read = pd.DataFrame()
for i in range(0, n_batches):
    print('Starting batch... ' + str(i))
    batch_i = i*batch_size
    batch_f = batch_i + batch_size
    prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
    df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
    df_read = pd.concat([df_read, df_read_])
    
#Remainder
print('Finishing up...')
batch_i = n_batches*batch_size
batch_f = batch_i + batch_remainder
prediction_groups = pipeline.recognize(img_fns[batch_i:batch_f])
df_read_ = read_num2_metadata(prediction_groups=prediction_groups, subdir_path=testDir)
df_read = pd.concat([df_read, df_read_])
     
end = time.time()
t = end - start
print('Time to OCR read all images in subdirectory: ' + str(round(t/60, 1)) + ' min')

Starting batch... 0
1/1 [==============================] - 28s 28s/step
2/2 [==============================] - 2s 264ms/step
Starting batch... 1
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 342ms/step
Starting batch... 2
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 340ms/step
Starting batch... 3
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 327ms/step
Starting batch... 4
1/1 [==============================] - 17s 17s/step
3/3 [==============================] - 1s 385ms/step
Starting batch... 5
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 325ms/step
Starting batch... 6
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 377ms/step
Starting batch... 7
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 318ms/step
Starting batch... 8
1/1 [==============================] - 22s 22s/step
2/2 [==============================] - 1s 412ms/step
Starting batch... 9
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 406ms/step
Starting batch... 10
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 334ms/step
Starting batch... 11
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 391ms/step
Starting batch... 12
1/1 [==============================] - 21s 21s/step
2/2 [==============================] - 1s 290ms/step
Starting batch... 13
1/1 [==============================] - 17s 17s/step
3/3 [==============================] - 1s 326ms/step
Starting batch... 14
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 360ms/step
Starting batch... 15
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 331ms/step
Starting batch... 16
1/1 [==============================] - 20s 20s/step
2/2 [==============================] - 1s 356ms/step
Starting batch... 17
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 337ms/step
Starting batch... 18
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 326ms/step
Starting batch... 19
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 331ms/step
Starting batch... 20
1/1 [==============================] - 22s 22s/step
2/2 [==============================] - 1s 337ms/step
Starting batch... 21
1/1 [==============================] - 28s 28s/step
2/2 [==============================] - 1s 361ms/step
Starting batch... 22
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 367ms/step
Starting batch... 23
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 345ms/step
Starting batch... 24
1/1 [==============================] - 18s 18s/step
2/2 [==============================] - 1s 286ms/step
Starting batch... 25
1/1 [==============================] - 30s 30s/step
2/2 [==============================] - 1s 328ms/step
Starting batch... 26
1/1 [==============================] - 19s 19s/step
2/2 [==============================] - 1s 312ms/step
Starting batch... 27
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 326ms/step
Starting batch... 28
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 347ms/step
Starting batch... 29
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 327ms/step
Starting batch... 30
1/1 [==============================] - 24s 24s/step
2/2 [==============================] - 1s 294ms/step
Starting batch... 31
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 331ms/step
Starting batch... 32
1/1 [==============================] - 17s 17s/step
2/2 [==============================] - 1s 318ms/step
Finishing up...
1/1 [==============================] - 13s 13s/step
2/2 [==============================] - 1s 173ms/step
Time to OCR read all images in subdirectory: 12.2 min

In [12]:
print(len(df_read))
df_read.head(30)

262

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
1,03,66,339,19,06,52,10.png
2,03,66,341,15,43,30,100.png
3,03,66,341,18,43,47,101.png
4,03,66,341,1s,a4,04,102.png
5,03,66,341,1s,a4,21,103.png
6,03,66,341,18,44,39,104.png
7,03,66,341,15,4a,56,105.png
8,03,66,341,18,4,o,106.png
0,05,66,342,19,11,06,107.png
1,03,66,342,19,11,24,108.png
2,03,66,342,19,11,41,109.png
4,03,66,342,19,11,58,110.png
5,03,66,342,19,12,15,111.png
6,03,66,342,19,12,33,112.png
7,03,66,342,19,12,50,113.png
8,03,66,342,19,13,07,114.png
0,03,66,342,19,13,24,115.png
1,03,66,342,19,413,a42,116.png
2,03,66,342,19,13,59,117.png
3,03,66,342,1g,1a,16,118.png
4,03,66,342,ig,ia,33,119.png
5,03,66,339,19,08,19,12.png
6,03,66,342,1g,in,51,120.png
7,03,66,342,15,,08,121.png
8,03,66,342,19,15,25,122.png
0,03,66,342,19,15,43,123.png
2,03,66,3a2,19,16,17,125.png
3,03,66,342,19,16,34,126.png
4,03,66,342,11,6,52,127.png
5,03,66,342,19,17,09,128.png

Remove rows with letters read:

In [14]:
if len(df_read) > 0:
    df_read2 = df_read[~df_read['station_number_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['year_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['day_of_year_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['hour_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['minute_OCR'].str.contains("[a-zA-Z]")]
    df_read2 = df_read2[~df_read2['second_OCR'].str.contains("[a-zA-Z]")]
else:
    df_read2 = df_read

In [15]:
print(len(df_read2))
df_read2.head()

178

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
1,03,66,339,19,06,52,10.png
2,03,66,341,15,43,30,100.png
3,03,66,341,18,43,47,101.png
6,03,66,341,18,44,39,104.png
0,05,66,342,19,11,06,107.png

In [16]:
#df1['filenum'] = df1['filename'].str.replace('.png', '')
#df1['filenum'] = df1['filenum'].astype('int')
#df1 = df1.sort_values('filenum').reset_index(drop=True)
df_read2 = df_read2.sort_values('filename').reset_index(drop=True)

In [17]:
#df_read2.to_csv(resultDir + 'OCR_subdir_test_' + directory + '_' + subdirectory + '.csv', index=False)

In [18]:
print('Percent OCR read yield for test subdirectory: ' + str(round((len(df_read2)/len(img_fns))*100, 1)) + ' %')

Percent OCR read yield for test subdirectory: 58.6 %

#

#### Integrate OCR read metadata into existing results data for subdirectory:

In [34]:
df_result = pd.read_csv(resultDir + directory + '/' + 'result-' + directory + '_' + subdirectory + '.csv')
print(len(df_result))
df_result.head()

304

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,is_dot,dict_metadata,raw_coord,window_coord,mapping_Hz,mapping_km,details,Roll,Subdirectory,filename
0,1.677419,969.387755,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207817,4163-03A,100.png
1,1.568548,853.061224,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207817,4163-03A,101.png
2,1.729839,969.387755,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207817,4163-03A,102.png
3,1.669355,918.367347,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207817,4163-03A,103.png
4,1.500000,1377.551020,1.0,2.0,1.0,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R014207817,4163-03A,104.png

In [35]:
df_result.columns

Index(['fmin', 'max_depth', 'satellite_number', 'year', 'day_1', 'day_2',
       'day_3', 'hour_1', 'hour_2', 'minute_1', 'minute_2', 'second_1',
       'second_2', 'station_number_1', 'station_number_2',
       'processed_image_class', 'func_name', 'limits', 'height', 'width',
       'metadata_type', 'meta_height', 'meta_width', 'x_centroids',
       'y_centroids', 'is_dot', 'dict_metadata', 'raw_coord', 'window_coord',
       'mapping_Hz', 'mapping_km', 'details', 'Roll', 'Subdirectory',
       'filename'],
      dtype='object')

In [36]:
#df_read2 = pd.read_csv(resultDir + 'OCR_subdir_test_' + directory + '_' + subdirectory + '.csv')
print(len(df_read2))
df_read2.head()

178

,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR,filename
0,03,66,339,19,06,52,10.png
1,03,66,341,15,43,30,100.png
2,03,66,341,18,43,47,101.png
3,03,66,341,18,44,39,104.png
4,05,66,342,19,11,06,107.png

In [37]:
if len(df_result) > 0:
    if len(df_read2) > 0:
        df_read2['day_of_year_OCR'] = df_read2['day_of_year_OCR'].astype('int')
        df_merge = df_result.merge(df_read2, how='left', on='filename')
        df_merge.loc[df_merge['day_of_year_OCR'] > 0, 'processed_image_class'] = 'num2'
    else:
        df_merge = df_result
else:
    df_merge = df_result
    
print(len(df_merge))
df_merge.sample(10)

304

,fmin,max_depth,satellite_number,year,day_1,day_2,day_3,hour_1,hour_2,minute_1,...,details,Roll,Subdirectory,filename,station_number_OCR,year_OCR,day_of_year_OCR,hour_OCR,minute_OCR,second_OCR
172,1.685484,620.408163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,R014207817,4163-03A,198.png,03,66,344.0,05,52,55
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"bottom_height: 11,width: 700",R014207817,4163-03A,155.png,NaN,NaN,NaN,NaN,NaN,NaN
51,1.705645,908.163265,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,R014207817,4163-03A,216.png,03,66,345.0,11,38,20
58,1.536290,816.326531,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,R014207817,4163-03A,223.png,NaN,NaN,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,33.png,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,173.png,NaN,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,160.png,03,66,343.0,15,11,03
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,21.png,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,142.png,03,66,343.0,18,05,53
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,top,R014207817,4163-03A,163.png,03,66,343.0,18,11,54

In [38]:
df_merge.to_csv(resultDir + directory + '/' + 'result_OCRpass-' + directory + '_' + subdirectory + '.csv', index=False)

#

#### Development:

In [ ]:
#df_read = df_read.iloc[:, 1:]
#df_read.head()

In [ ]:
#df_read.to_csv(resultDir + 'OCR_subdir_test_' + directory + '_' + subdirectory + '.csv', index=False)